@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
img, video, iframe{
    vertical-align: middle;
}
body{
    font-family: 'Hallym';
    font-size: 14px;
    line-height: 1.4;
    color: #000;
}
/*header*/
#header{
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
   justify-content: center;
   background-color: #000;
    
}
#header video{
    width: 100%;

}
.header_inner{
    width: 1320px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.header_inner>ul{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_inner ul li{
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.header_inner ul li:hover>a{
    color: #165AFF;
}
.header_inner ul li:nth-child(5){
    position: relative;
}

.sub{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    display: none;
    /*제이쿼리로 서브메뉴 슬라이드 할 때는, sub가 안보이게 까지만 css로 설정한다. 보이게 하는것은 제이쿼리로 설정한다.*/
}
.sub li a{
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding:10px 0;
    text-align: center;
}
.gnb .notpc {
    display: none;
}

/*page1*/
#page1{
    width: 1320px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.page1text{
    width: 585px;
}
.page1text ul li a img{
    width: 30px;
    height: 30px;
}
.title{
    font-size: 30px;
    font-weight: 400;
}
.title span{
    font-weight: 700;
}
.subtitle{
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 25px;
}
.blue{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 45px;
    border-bottom: 3px solid #B7B7B7; 
}
.blue >span{
    color: #fff;
    background-color:#57AFFB;
    padding: 5px 10px;
    font-weight: 500;
}

.page1text ul li {
    border-bottom: 3px solid #B7B7B7; 
    font-size: 20px;
    
}
.page1text ul li a{
    display: block;
    padding: 35px 0;
}
.page1text ul li a span{
    color: #B7B7B7;
}
.page1img{
    width: 545px;
    padding-top: 130px;
    box-sizing: border-box;
}

/*page2*/
#page2{
    background-image: url(../image/background/background.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.page2_inner{
    width: 1320px;
    margin: 0 auto;
    padding-top: 160px;
}
.blueg{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center; 
}
.blueg li{
    width: 277px;
    border-radius: 50px;
    font-size: 30px;
    margin:10px 10px;
    overflow: hidden;
}
.blueg li a{
    background: linear-gradient(to bottom, #1E8EFF,#6BC4FF);
    padding: 50px 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}
.blueg li a p{
    padding-bottom: 20px;
}
.blueg li a:hover{
    background: linear-gradient(to bottom, #CEE6FF,#6BC4FF);
}


.dblueg{
    display: flex;
    justify-content: center;
    text-align: center;   
}
.dblueg li{
    width: 277px;
    border-radius: 50px;
    font-size: 30px;
    margin:10px 10px;
    overflow: hidden;
}
.dblueg li a{
    padding: 50px 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #165AFF,#6BABFF);
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}
.dblueg li a p{
    padding-bottom: 20px;
}
.dblueg li a:hover{
    background: linear-gradient(to bottom, #BACEFF,#6BABFF);
}
.violet{
    padding-bottom: 160px;
    display: flex;
    justify-content: center;
    text-align: center;   
}
.violet li{
    width: 277px;
    border-radius: 50px;
    font-size: 30px;
    overflow: hidden;
    margin:10px 10px;
}
.violet li a{
    background: linear-gradient(to bottom, #6F64D4,#6B9CFF);
    padding: 50px 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
}
.violet li a p{
    padding-bottom: 20px;
}
.violet li a:hover{
    background: linear-gradient(to bottom, #CBC5FF,#6B9CFF);
}
/*page3*/

.page3_inner{
    width: 1320px;
    margin: 0 auto;
}
.title_box{
    text-align: right;
    padding: 150px 0;
}
.service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
}
.service li{
    width: 30%;
    margin: 15px;
    border: 1px solid #A5A5A5;
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
}
.service li a img{
    width: 100%;
}
.service li a .service_text{
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: 500;
    color: #707070;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.service li a .service_text h4{
    opacity: 0;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}


/*page4*/
#page4{
    background-image: url(../image/background/herangmedia.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    margin-bottom: 160px;
}
.page4_inner{
    width: 1320px;
    margin: 0 auto;
    color: #fff;
    padding: 195px 0;
    box-sizing: border-box;
}
.page4_inner h1{
    font-size: 37px;
    padding-bottom: 20px;
    font-weight: 500;
}
.page4_inner h3{
    font-size: 25px;
    font-weight: 400;
}

/*page5*/
#page5{
    display: flex;
    justify-content: space-around;
    margin-bottom: 160px;
    line-height: 1;
    overflow: hidden;
}
.page5_text{
    width: 380px;
    text-align: center;
    margin-left: 110px;
    margin-right: 55px;
}
.page5_text h1{
    padding-top: 85px;
    padding-bottom: 20px;
    font-size: 29px;
    font-weight: 400;
}
.page5_text h1 span{
    font-weight: 700;
}
.page5_text h2{
    font-size: 23px;
    font-weight: 400;
    color: #8B8B8B;
}
.page5_text img{
    padding: 30px 0;
}
.page5_text ul{
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid #E9E9E9;
}
.news_title {
    background-color: #4CA4E1;
    border-radius: 10px;
    width: 142px;
}
.news_title a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
}
.page5_slide{
    width: calc(100% - 544px);

}
.page5_slide .swiper-slide{
    width: 400px;
}
.page5_slide .swiper-slide img{
    width: 100%;
    border: 1px solid #707070;
}
.news_content a{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
    padding-left: 30px;
}

/*fast_consulting*/
#fast_consulting{
    background-image: url(../image/background/radius_box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%
}
.total_box{
    display: flex;
    justify-content: right;
    padding-bottom: 50px;
}
.fast_inner{
    width: 1320px;
    margin: 0 auto;
}
.fast_inner h1{
    padding-top: 70px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}
.fast_box1{
    margin-right: 50px;

}
.fast_box1 ul{
    display: flex;
    padding-top: 10px;
    align-items: center;
    font-size: 16px;
    color: #fff;
}
.fast_box1 ul li{
    padding-right: 10px;
}
.fast_box1 ul li button{
    background-color: #4CA4E1;
    padding: 5px 10px;
    border: 1px solid #2F7AAE;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
}
.fast_box1>p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding: 20px 0;
}

.name{
    width: 379px;
    padding: 25px;
    background-color: #2F7AAE;
    outline:none;
    border: 1px solid #2F7AAE;
    border-radius: 15px;
    caret-color: #fff;
    color: #fff;
}
.phonenumber{
    width: 379px;
    padding: 25px;
    background-color: #2F7AAE;
    outline:none;
    border: 1px solid #2F7AAE;
    border-radius: 15px;
    caret-color: #fff;
    color: #fff;
}

.fast_text{
    width: 448px;
    resize: none;
    height: 195px;
    background-color: #2F7AAE;
    outline:none;
    border: 1px solid #2F7AAE;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    caret-color: #fff;
    color: #fff;
}
.fast_box2>p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding: 20px 0;
}
.btn_fast{
    text-align: right;
    padding-top: 10px;
}
.btn_fast button{
    background-color: #333333;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #333333;
    cursor: pointer;
}
.name::placeholder{
    color: rgba(225,225,225,0.7);
    font-family: 'Hallym';
    font-size: 16px;
}
.phonenumber::placeholder{
    color: rgba(225,225,225,0.7);
    font-family: 'Hallym';
    font-size: 16px;
}
.fast_text::placeholder{
    color: rgba(225,225,225,0.7);
    font-family: 'Hallym';
    font-size: 16px;
}
.checkbox{
    background-color: #2F7AAE;
    border: 1px solid #2F7AAE;
    padding: 5px;
    border-radius: 15px;
}
/*footer*/
#footer{
    background-color: #333333;
}
.footer_inner{
    width: 1320px;
    margin: 0 auto;
    padding: 35px 0;
    position: relative;
}
.footer_inner>ul{
    display: flex;
}
.footer_inner>ul li{
    padding-right: 10px;
    color: #C9C9C9;
    font-size: 20px;
    font-weight: 500;
}
.footer_text h1{
    padding-top: 20px;
    padding-bottom: 40px;
    color: #C9C9C9;
    font-size: 30px;
    font-weight: 700;
}
.footer_text h1 span{
    color: #fff;
}
.footer_text h3{
    color: #C9C9C9;
    font-size: 18px;
}
.footer_text .email {
    padding-top: 25px;
}
.footer_left_1{
    display: flex;
    color:#C9C9C9;
    padding-top: 10px;
    font-size: 16px;
}
.footer_left_1 li{
    padding-right: 20px;
}
.footer_left_2{
    display: flex;
    color:#C9C9C9;
    padding-top: 10px;
    font-size: 16px;
}
.footer_left_2 li{
    padding-right: 15px;
}
.footer_icon{
    position: absolute;
    top: 46px;
    right: 0px;
}
.footer_icon ul{
    display: flex;
    align-items: center;
}
.footer_icon ul li{
    width: 211px;
    height: 263px;
    text-align: center;
    background-color: #707070;
    margin-left: 30px;
    padding-top: 37px;
    box-sizing: border-box;
    color: #fff;
}
.footer_icon ul li h2{
    font-weight: 500;
}
.footer_icon ul li h3{
    font-weight: 400;
}
.today img{
    padding: 20px 0;
}
.weekend img{
    padding: 20px 0;
}

.lunch img{
    padding: 16px 0;
}
.footer_right{
    position: absolute;
    bottom: 81px;
    right: 0;
}
.right_text{
    display: flex;
    justify-content: right;
}
.right_text li{
    padding-left: 15px;
}
.right_text li a{
    color: #C9C9C9;
    font-weight: 500;
    font-size: 16px;
}
.right_icon{
    display: flex;
    justify-content: right;
}
.right_icon li {
    padding-left: 20px;
    padding-top: 25px;
}
/*TOP*/
#top{
    transition: all 0.5s;
    position: fixed;
    right: 30px;
    bottom: 50px;
    background: #165AFF;
    border-radius: 50%;
    z-index: 999;
}
#top:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
#top a{
    font-size: 20px;
    display: inline-block;
    padding: 25px 0;
    text-align: center;
    width: 80px;
    box-sizing: border-box;
    color: #fff;

}
#menu{
    z-index: 999;
    transition: all 0.5s;
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    left: 27px;
}
#menu ul{
    display: flex;
    align-items: center;
    margin: 20px 10px;
    height: 20px;
}
#menu ul li{
    margin-left: 15px;
}

#menu ul li a{
    display: flex;
    font-size: 14px;
}
#menu ul li a span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid  #3F76ff;

    
}
.moredetail{
    cursor: pointer;
}
#menu ul li a span:hover{
    background-color: #165AFF;
    border: 2px solid #165AFF;
}
.colorChanged a{
    color: #fff;
}
.hidden_text{
   display: none;
   overflow: hidden;
}
#menu ul:hover .hidden_text {
   display: block;
  }

  /*모달*/
  
.blur-it {
    filter: blur(4px);
  }
  
  .modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 999999;
    background: rgba(63, 118, 255, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }
  
  .modal-wrapper.open {
    opacity: 1;
    visibility: visible;
  }
  
  .modal {
    width: 500px;
    display: block;
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
  }
  
  .modal-wrapper.open .modal {

    opacity: 1;
  }
  
  .head { 
    width: 100%;
    box-sizing: border-box;
    padding: 12px 30px;
    overflow: hidden;
    background: #3F76ff;
  }
  
  .btn-close {
    font-size: 28px;
    display: block;
    text-align: right;
    color: #fff;
  }
  
  .content {
    padding: 10%;
  }
  
  .good-job {
    text-align: center;
    color: #3F76FF;
  }

  .good-job h1 {
    font-size: 30px;
    line-height: 50px;
  }

  /*햄부기*/
  		/*햄버거 버튼모양*/
          .slide-open{
			position:fixed;
			top:0;
			right:0;
			width:50px;
			height:50px;
			cursor:pointer;
			z-index:99;
		}
		.burgur{
		right: 15px;
		top: 23px;
		position: fixed;
		width: 20px;
		height: 2px;
		background: #9fbaff;
		}
		.burgur .top-line{
		width: 20px;
		height: 2px;
		background-color: #9fbaff;
		bottom: -5px;
		content: '';
		position: absolute;
		right: 0;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;

		}
		.burgur .bot-line {
		width: 20px;
		height: 2px;
		background-color: #9fbaff;
		top: -5px;
		content: '';
		position: absolute;
		right: 0;
		-webkit-transition:  -webkit-transform .3s;
		transition: transform .3s;
		}

		.burgur.on {
		width: 0;
		}
		.burgur.on .bot-line {
		-webkit-transform: translateY(5px) rotate(135deg);
		transform: translateY(5px) rotate(135deg);
		}
		.burgur.on .top-line{
		-webkit-transform: translateY(-5px) rotate(-135deg);
		transform: translateY(-5px) rotate(-135deg);
		}

		/*메뉴부분 모양*/
		.slide{
			padding-top:50px;
			width:100%;/*이 너비에 따라 보이는 부분이 변화함*/
			position:fixed;
			right:-100%;
			top:0;
			bottom:0;
            z-index: 9;
			-webkit-transition: right .3s;
			-moz-transition: right .3s;
			-ms-transition: right .3s;
			-o-transition: right .3s;
			transition: right .3s;
			background-color:#3F76ff;
            text-align: center;
		}
		.slide-title{
			width:100%;
			height:100px;
			font-size:42px;
			display:flex;
			justify-content:center;
			align-items:center;
			
		}
		.slide.on{
			right:0;
		} 
		.slide ul li{
			display:inline-block;
			width:100%;
			padding:15px 0;
		}
        .slide>ul>li>a{
            color: #fff;
        }
    #ham{
        display: none;
    }

  @media (min-width: 1321px){
    .service li a:hover .service_text h4{
        opacity: 1;
    }
    
    .service li a:hover .service_text{
        background-color: rgba(1,1,1,0.8);
        color: #fff;
        height: 80%;
        bottom: 0;
        left: 0;
        transition: all 0.5s;
    }
    .service li a:hover img{
        transform: scale(1.4);
        transition: all 0.5s;
    }
  }

  @media (min-width:800px) and (max-width:1320px){
    /*gnb*/
    #header{
        height: 80vh;
    }
    .header_inner{
        width: 100%;
    }
    .gnb li a{
        width: 20%;
        color: #fff;
    }
    #header video{
        width: 100%;
    }
    .gnb .pc{
        display: none;
    }
    .gnb .notpc{
        display: block;
    }
    .gnb .notpc a img{
        width: 80%;
    }
    #page1{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .title{
        font-size: 25px;
        text-align: center;
    }
    .subtitle{
        font-size: 20px;
        text-align: center;
        padding-top: 21px;
        padding-bottom: 30px;
    }
    #page1 .blue{
        font-size: 15px;
        text-align: center;

    }
    #page2{
        width: 100%;
    }
    .page2_inner{
        width: 100%;
    }

    .page2_inner ul li a {
        font-size: 25px;
        padding: 30px 0;
    }
    .page2_inner ul li a img{
        width: 50%;
    }
    #menu{
        display: none  !important;
    }
    #page3{
        width: 100%;
    }
    .page3_inner{
        width: 100%;
    }
    .title_box{
        width: 100%;
        text-align: center;
        padding: 100px 0;
    }
    .service li{
        width: 30%;
    }
    .service_text p{
        font-size: 18px;
    }
    .service{
        padding-bottom: 120px;
    }

    #page4{
        width: 100%;
        height: 300px;
        margin-bottom: 120px;
        background-image: none;
        background-color: #4CA4E1;
    }
    .page4_inner{
        width: 100%;
        padding: 100px;
    }
    .page4_inner h1{
        font-size: 30px;
    }
    .page4_inner h3{
        font-size: 20px;
    }
    .page5_text h1{
        font-size: 25px;
    }
    .page5_text h2{
        font-size: 20px;
    }
    #fast_consulting{
        width: 100%;
    }
    .fast_inner{
        width: 90%;
    }
    /*footer*/
    #footer{
        width: 100%;
    }
    .footer_inner{
        width: 80%;
    }
    .footer_icon{
        display: none;
    }
    .right_text{
        display: none;
    }
    .footer_left{
        font-size: 17px;
    }
    .footer_text h1{
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .footer_text h3{
        font-size: 15px;
    }
    .footer_text .email{
        padding-top: 20px;
    }

    /*TOP*/
    #top a{
        font-size: 18px;
        padding: 15px 0;
        width: 60px;
    }
    /*모달*/
    .modal {
        width: 300px;
    }
    .good-job h1{
        font-size: 25px;
    }
    .head{
        padding: 0 10px;
    }


}


/*모바일 ~799*/
@media (max-width:799px){
    /*gnb*/
    #header{
        height: 60vh;
    }
    .header_inner{
        width: 100%;
    }
    .gnb li a{
        width: 20%;
        color: #fff;
    }
    .gnb li:first-child, .gnb li:nth-child(2), .gnb li:nth-child(5), .gnb li:nth-child(6){
        display: none;
    }
    
    #header video{
        width: 100%;
    }
    .gnb .pc{
        display: none;
    }
    .gnb .notpc{
        display: block;
    }
    .gnb .notpc a img{
        width: 50%;
    }
    #ham{
        display: block;
    }
    #page1{
        width: 100%;
        padding-top: 100px;
    }
    .title{
        font-size: 20px;
        text-align: center;
        padding-bottom: 15px;
    }
    .subtitle{
        font-size: 15px;
        text-align: center;
        padding: 0 20px;
        padding-bottom: 20px;
    }
    #page1 .blue{
        font-size: 13px;
        text-align: center;
        border-bottom: 2px solid #B7B7B7;
    }
    .page1text{
        padding: 0 30px;
    }

    .page1img{
        display: none;   
    }
    .page1text ul li{
        border-bottom: 2px solid #B7B7B7;
        font-size: 15px;
    }
    .page1text ul li a{
        padding: 25px 0;
    }
    #menu{
        display: none  !important;
    }
    #page2{
        width: 100%;
    }
    .page2_inner{
        width: 100%;
        padding-top: 100px;
    }
    .page2_inner .blueg{
        padding-top: 50px;
    }
    .page2_inner .violet{
        padding-bottom: 100px;
    }
    .page2_inner ul{
        margin: 0 20px;
    }
    .page2_inner ul li{
        border-radius: 30px;
        margin: 5px 5px;
    }
    .page2_inner ul li a {
        font-size: 12px;
        padding: 20px 0;
    }
    .page2_inner ul li a img{
        width: 40%;
    }
    #page3{
        width: 100%;
    }
    .page3_inner{
        width: 80%;
    }
    .title_box{
        padding-top: 100px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .service{
        padding-bottom: 100px;
    }
    .service li a .service_text{
        height: 30px;
        padding: 0px 15px;
        background-color: #191919;
        color: #fff;
    }
    .service li{
        width: 40%;
        margin: 5px;
        padding-bottom: 45px;
        background-color: #191919;
        border-radius: 5px;
    }
    .service_text p{
        font-size: 12px;
    }
    #page4{
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        background-image: none;
        background-color: #4CA4E1;
    }
    .page4_inner{
        width: 100%;
        padding: 45px;
    }
    .page4_inner h1{
        font-size: 20px;
    }
    .page4_inner h3{
        display: none;
    }
    #page5{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .page5_text{
        margin-left: 0;
        margin-right: 0;
    }
    .page5_text h1{
        font-size: 25px;
        padding-top: 40px;
    }
    .page5_text h2{
        font-size: 20px;
    }
    .text_detail{
        display: none;
    }
    .page5_slide{
        width: 100%;
        padding-left: 30px;
        box-sizing: border-box;
    }
    #fast_consulting{
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
    }
    .fast_inner{
        width: 90%;
    }
    .fast_inner h1{
        font-size: 20px;
        padding-top: 20px;
    }
    .total_box{
        width: 448px;
        flex-wrap: wrap;
        justify-content: left;
        width: 100%;
        padding-bottom: 20px;
    }
    .fast_box1{
        margin-right: 0px;
    }
    .fast_box2{
        width: 100%;
    }
    .fast_box1 form {
        width: 100%;
    }
    .name{
        width: 100%;
    }
    .fast_text{
        width: 100%;
    }

    .phonenumber{
        width: 100%;}

    .fast_box1 p{
        font-size: 14px;
    }
    .fast_box2 p{
        font-size: 14px;
    }
    .name::placeholder{
        font-size: 14px;
    }
    .phonenumber::placeholder{
        font-size: 14px;
    }
    .fast_text::placeholder{
        font-size: 14px;
    }
    .btn_fast button{
        font-size: 14px;
    }
    .fast_box1 ul li button{
        font-size: 14px;
    }
    /*footer*/
    #footer{
        width: 100%;
    }
    .footer_inner{
        width: 80%;
    }
    .footer_icon{
        display: none;
    }
    .right_icon{
        display: none;
    }
    .right_text{
        display: none;
    }
    .footer_inner>ul li img{
        display: none;
    }
    .footer_inner>ul li {
        font-size: 15px;
    }
    .footer_text h1{
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .footer_text h3{
        font-size: 14px;
    }
    .footer_text>img{
        display: none;
    }
    .footer_text .email{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #717171;
        margin-bottom: 20px;
    }
    .Mobile{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer_left_1{
        font-size: 12px;
        display: block;
        width: 100%;
    }
    .footer_left_1 li{
        padding-bottom: 10px;
        padding-right: 0;
    }
    .footer_left_2 li{
        padding-bottom: 10px;
        padding-right: 0;
    }
    .footer_left_2 li img{
        display: none;
    }
    .footer_left_2 .no{
        display: none;
    }
    .footer_left_2{
        padding-top: 0;
        display: block;
        text-align: center;
        font-size: 9px;
        flex-wrap: wrap;
        
    }
    
    
    /*TOP*/
    #top a{
        font-size: 15px;
        padding: 16px 0;
        width: 59px;
        }
    /*모달*/
    .modal {
    width: 250px;
    }
    .head{
        padding: 0 10px;
    }
    .good-job h1{
        font-size: 18px;
    }
}
@media (max-width: 437px){
    .name{width: 76%;}
    .phonenumber{width: 76%;}
    .service_text p {
        font-size: 10px;

    }
}


@media(min-width:800px) and (max-width:1030px){
    .fast_text{
        width: 100%;
    }
    .name{
        width: 100%;
    }
    .phonenumber{
        width: 100%;
    }
    .fast_box1{
        width: 100%;
        margin-right: 100px;
        box-sizing: border-box;
    }
    .fast_box2{
        width: 100%;
    }
    .fast_box2{
        font-size: 25px;
    }
    .fast_box1 p{
        font-size: 14px;
    }
    .fast_box2 p{
        font-size: 14px;
    }
    .name::placeholder{
        font-size: 14px;
    }
    .phonenumber::placeholder{
        font-size: 14px;
    }
    .fast_text::placeholder{
        font-size: 14px;
    }
    .btn_fast button{
        font-size: 14px;
    }
    .fast_box1 ul li button{
        font-size: 14px;
    }
    /*TOP*/
    #top a{
    font-size: 15px;
    padding: 16px 0;
    width: 59px;
    }
    /*모달*/
    .modal {
        width: 300px;
    }
    .good-job h1{
        font-size: 25px;
    }
    .head{
        padding: 0 10px;
    }

     /*footer*/
    #footer{
        width: 100%;
    }
    .footer_inner{
            width: 80%;
    }
    .footer_icon{
        display: none;
    }
    .right_text{
        display: none;
    }
    .footer_left{
        font-size: 17px;
    }
    .footer_text h1{
        font-size: 25px;
        padding-top: 15px;
        padding-bottom: 30px;
    }
    .footer_text h3{
        font-size: 15px;
    }
    .footer_text .email{
        padding-top: 20px;
    }


}